<table class="striped highlight centered responsive-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Street</th>
      <th>Street Number</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @costumers.each do |costumer| %>
      <tr>
        <td><%= costumer.name %> </td>
        <td><%= costumer.street%></td>
        <td><%= costumer.streetNo%></td>
        <td class="actions"> 
          <button>aa</button>
        </td>
      </tr>
    <% end %>
    
  </tbody>
</table>

<div class="fixed-action-btn costumer-btn">
  <%= form_tag("costumers/new", method: "get") do %>
    <button class="btn-floating pulse btn-large waves-effect waves-light red">
      <i class="material-icons">add</i>
    </button>
  <%end%>
</div>