<div class="container">
  <div class="row contract">
    <div class="input-field col s8">
      <input id="contract" name="contract" type="number" class="validate">
      <label for="contract">Contract</label>
    </div>
    <div class="input-field col s4">
      <button class="btn waves-effect waves-light btn_exibir_dados">Mostrar Dados</button>
    </div>
  </div>

  <div class="row div_form_costumer" style='display: none;' >
    <%= form_tag('#', method: :get, id: 'costumer_form', class: 'col s12') do %>
      <input type="hidden" name="contract_h" value="" />
      <div class="row">
        <div class="input-field col s12">
          <input readonly name="name" id="name" type="text" >
          <label for="name">Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input readonly name="street" id="street" type="text" >
          <label for="street">Street</label>
        </div>
        <div class="input-field col s2">
          <input readonly name="street_no" id="street_no" type="text" >
          <label for="street_no">Street Number</label>
        </div>
        <div class="input-field col s4">
          <input readonly name="neighborhood" id="neighborhood" type="text" >
          <label for="neighborhood">Neighborhood</label>
        </div>

        <div class="col s12">
          <button class="btn waves-effect waves-light col s6 offset-s3" type="button" name="action">Avançar
            <i class="material-icons right">send</i>
          </button>
        </div>
      </div>
      <% end %>      
  </div>
</div>