.tabelaSPC{
  margin-top: 2%;
}

.contract{
  margin-top: 10%;
}

.costumer-btn{
  margin-bottom: 40px;
}

.red_table_color{
  background-color: #AC3537;
}

.green_table_color{
  background-color: #37AC35;
}